.bg-blu {
    background-color: rgb(55, 50, 99);
}

.sec-colour {
    color: rgb(70, 207, 196);
}

.spotlight {
    background-color: rgb(70, 207, 196);
}

.star-hr span {
    height: 5px;
}

.about {
    background-color: rgb(70, 207, 196);
    border: 0;
}

.about-us {
    background-color: gray;
}

.form-control {
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

footer .f-up {
    background-color: rgb(54, 80, 116);
}

footer i {
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}