.bg-blu {
    background-color: rgb(59, 33, 129);
}

.spotlight {
    background-color: rgb(70, 207, 196);
}

.star-hr span {
    height: 5px;
}

.about {
    background-color: rgb(70, 207, 196);
    border: 0;
}

.about-us {
    background-color: gray;
}

.form-control {
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

footer {
    height: 350px;
    background-color: gray;
}

.links {
    height: 80%;
    background-color: rgb(73, 72, 72);
}

.copyright {
    height: 20%;
    background-color: rgb(37, 37, 37);
}